ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

address {
    font-style: normal;
}