:root {
  --main-color: #999999;
  --secondary-color: #ffffff;
  --titles-color: #323232;
  --subtitles-color: #000000;
  --accent-color: #4985ff;
  --cards: 3;
  --gap: 30px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1143px;
  padding: 0 15px;
  outline: solid red;
  margin: 0 auto;
}

/* CARD SET */

.grid-list {
  display: flex;
  flex-wrap: wrap;
  gap:var(--gap);
  justify-content: center;
}

.grid-item {
  flex-basis: calc((100% - (var(--gap) * var(--cards))) / var(--cards) );
}

/* COMPONENTS */

.btn {
  width: 200px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.472;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
}

.sub-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  /* color: #999999; */
}

.links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.252px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.sub-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

/* ========== HEADER ============= */
.header {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color);
}

.header-list {
  display: flex;
  gap: 40px;
  justify-content: end;
}

/* ========== /HEADER ============= */

/* ========== MAIN ============= */

/* HERO */
.hero {
  background-color: rgba(97, 15, 15, 0.9);
  padding-top: 220px;
  padding-bottom: 335px;
}

.hero-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-color);

  margin-bottom: 20px;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--secondary-color);

  margin: 0 auto 50px;
  width: 830px;
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ========== SERVICES ============= */
.services {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 105px;
}
.services-title {
  color: var(--titles-color);
  max-width: 739px;
  margin: 0 auto 32px;
}

.services-text {
  font-weight: 400;
  line-height: 1.56;
  text-align: center;
  color: var(--main-color);
  max-width: 730px;
  margin: 0 auto 70px;
}
.services-list {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}
.services-item {
  width: 353px;
  outline: 1px solid orange;
  display: flex;
}
.services-item:not(:last-child) {
  margin-right: 27px;
}
.services-img {
  width: 110px;
  height: 110px;
  border: 2px solid blue;
  border-radius: 50%;
  flex-shrink: 0;
}
.services-box {
  outline: 2px solid green;
  padding-top: 50px;
  margin-left: 17px;
  text-align: left;
}
.services-subtitle {
  margin-bottom: 12px;
}

.services-description {
  color: var(--main-color);
}

/* ========== /SERVICES ============= */

/* =======Standart ============== */
.standarts {
  padding-top: 105px;
  padding-bottom: 70px;
}

.standarts-box {
  display: flex;
  gap: 121px;
  align-items: center;
  margin-bottom: 90px;
}

.standarts-title {
  color: var(--titles-color);
  margin-bottom: 60px;
}

.standarts-text {
  color: var(--main-color);
  margin-bottom: 42px;
}

.standarts-item {
  outline: solid green;
}

.standarts-list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 70px;
  border-top: 1px solid #E0E0E0;
}

.standarts-numbers {
  font-size: 36px;
  line-height: 1.47;
  color: var(--subtitles-color);
}

.standarts-subtext {
  color: var(--main-color);
}

/* ======= /standart ============ */

/* ========== Examples ========== */
.examples {
  background-color: teal;
  padding-top: 100px;
  padding-bottom: 85px;
}

.examples-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: solid tomato;
}

.examples-title {
  color: var(--secondary-color);
  max-width: 540px;
}

.examples-item-number {
  color: var(--accent-color);
}

.examples-btn {
}

.examples-list {
  outline: solid black;
  margin-top: 70px;
}

.examples-item {
  width: 350px;
}

.examples-img {
}

.examples-subtitle {
  color: var(--subtitles-color);
  margin-top: 30px;
  margin-bottom: 30px;
}

.examples-desc {
  color: var(--main-color);
  margin-bottom: 47px;
}

.examples-more {
}

/* ========== Projects ========== */
.projects {
}

.projects-title {
  color: var(--subtitles-color);
}

.projects-desc {
  color: var(--main-color);
}

.projects-list {
}

.projects-item {
}

.projects-img {
}

.projects-btn {
}

/* ========== /MAIN ============= */
