:root {
  --main-color: #999999;
  --secondary-color: #ffffff;
  --titles-color: #323232;
  --subtitles-color: #000000;
  --accent-color: #4985ff;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1143px;
  padding: 0 15px;
  outline: solid red;
  margin: 0 auto;
}


/* COMPONENTS */

.btn {
  width: 200px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.472;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
}

.sub-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  /* color: #999999; */
}

.links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2520px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.sub-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

/* ========== HEADER ============= */
.header {
  background-color: rgba(0, 0, 0, 0.7);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color);
}

/* ========== /HEADER ============= */

/* ========== MAIN ============= */
/* HERO */
.hero {
  background-color: rgba(97, 15, 15, 0.9);
}

.hero-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-color);
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--secondary-color);
}

/* ========== SERVICES ============= */
.services-title {
  color: var(--titles-color);

}

.services-text {
  font-weight: 400;
  line-height: 1.56;
  text-align: center;
  color: var(--main-color);
}

.services-subtitle {}

.services-description {
  /* font-family: 'Montserrat'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;

  color: var(--subtitles-color);
}

/* ========== /SERVICES ============= */


/* =======Standart ============== */
.standarts-title {
  color: var(--titles-color);
}

.standarts-text {
  color: var(--main-color);
}

.standarts-numbers {

  font-size: 36px;
  line-height: 1.47;
  color: var(--subtitles-color);
}

.standarts-subtext {
  color: var(--main-color);
}

/* ======= /standart ============ */

/* ========== Examples ========== */
.examples {
  background-color: teal;
}

.examples-title {
  color: var(--secondary-color);
}

.examples-item-number {
  color: var(--accent-color);
}

.examples-btn {}

.examples-list {}

.examples-item {}

.examples-img {}

.examples-subtitle {
  color: var(--subtitles-color);
}

.examples-desc {
  color: var(--main-color);
}

.examples-more {}

/* ========== Projects ========== */
.projects {}

.projects-title {
  color: var(--subtitles-color);
}

.projects-desc {
  color: var(--main-color);
}

.projects-list {}

.projects-item {}

.projects-img {}

.projects-btn {}


/* ========== /MAIN ============= */