@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section-title {
    font-size: 28px;
  }

  /* Hero */

  .hero {
    padding-top: 250px;
    padding-bottom: 285px;
  }

  .hero-title {
    font-size: 32px;
  }

  /* Services */

  .services {
    padding-top: 90px;
    padding-bottom: 85px;
  }
}
